* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: url('galxy.avif') no-repeat center center fixed;
    background-size: cover;
    color: #ffffff;
}


header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.left-nav,
.right-nav {
    display: flex;
    gap: 15px;
}

.nav-btn {
    background: #8fe3e3;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
}

.title {
    text-align: center;
    color: white;
    font-size: 28px;
    line-height: 1.2;
    font-weight: bold;
    font-family: 'Press Start 2P', cursive;
}

.icon {
    width: 70px;
    vertical-align: middle;
}

.menu-icon {
    font-size: 70px;
    cursor: pointer;
    color: white;
}


.content {
    padding: 40px;
    
}

.welcome {
    font-size: 20px;
    margin-bottom: 20px;
}

.content-box {
    display: flex;
    align-items: center;
    gap: 30px;
}

.main-img {
    width: 330px;
    height: auto;
    border-radius: 5px;
}

.description {
    width: 400px;
    font-size: 17px;
    line-height: 1.4;
}


.download-btn {
    margin-top: 50px;
    background: #8fe3e3;
    padding: 15px 30px;
    border: none;
    border-radius: 35px;
    font-size: 16px;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: black;
    text-align: center;
}
.download-btn{
margin-top: 30%;

}







