body{
    margin: 0;
    font-family: Arial, sans-serif;
    background: url('galxy.avif');
    background-size: cover;
    color: white;
}

#menu-btn{
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

#sideMenu{
    position: absolute;
    right: 50px;
    top: 60px;
    width: 150px;
    padding: 10px;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    transition: 0.4s;
}

#sideMenu ul li{
    list-style: none;
    margin: 12px 0;
}

#sideMenu a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.profile-container{
    width: 350px;
    background: rgba(173, 216, 230, 0.8);
    padding: 25px;
    border-radius: 10px;
    text-align: center;
    margin: 100px auto;
    backdrop-filter: blur(6px);
}

.profile-img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background: white;
    display: block;
    margin: auto;
}

.form-box input{
    width: 90%;
    padding: 8px;
    margin: 7px 0;
    border: none;
    border-radius: 3px;
    outline: none;
    font-size: 14px;
}

button{
    padding: 8px 30px;
    border: none;
    background: white;
    border-radius: 3px;
    cursor: pointer;
    font-weight: bold;
}
