*{
    margin: 0;
    padding: 0;
    font-family: "Press Start 2P", monospace;
    box-sizing: border-box;
}

body{
    background-image: url('galxy.avif');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: white;
    display: flex;
}

/* MAIN CONTAINER */
.Registration{
    width: 100%;
    margin-top: 8%;
    text-align: center;
}

h1{
    font-size: 32px;
    margin-bottom: 50px;
}

/* INPUT FIELD */
input{
    width: 350px;
    padding: 15px;
    margin-top: 5px;
    margin-bottom: 25px;
    border-radius: 4px;
    border: none;
    background: rgba(0,0,0,0.6);
    color: white;
    font-size: 14px;
}

/* BUTTON */
button{
    padding: 12px 40px;
    background: white;
    color: black;
    border-radius: 20px;
    border: none;
    font-size: 14px;
    cursor: pointer;
}

button:hover{
    background: #e6e6e6;
}

/* BACK BUTTON */
.back-btn{
    position: absolute;
    top: 20px;
    left: 20px;
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 6px;
    text-decoration: none;
    cursor: pointer;
}

.back-btn:hover{
    background: #dcdcdc;
}

/* MENU BUTTON */
#menu-btn{
    font-size: 30px;
    position: absolute;
    top: 20px;
    right: 30px;
    cursor: pointer;
}

/* SIDE MENU */
#sideMenu{
    position: absolute;
    right: 50px;
    top: 60px;
    width: 150px;
    padding: 10px;
    background: rgba(255,255,255,0.4);
    border-radius: 10px;
    transition: 0.4s;
}

#sideMenu ul li{
    list-style: none;
    margin: 12px 0;
}

#sideMenu a{
    text-decoration: none;
    color: black;
    font-size: 13px;
}
