body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: url('galxy.avif') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0;
}

/* Form container */
.Registration {
    background-color: rgba(0, 200, 255, 0.6);
    padding: 30px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
}

.Registration h1 {
    text-align: center;
    color: #071114;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 20px;
}

.Registration input[type="text"],
.Registration input[type="email"],
.Registration input[type="password"] {
    padding: 15px;
    border: none;
    border-radius: 8px;
    width: 100%;
    color: white;
    background-color: #00aaff;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.Registration input[type="checkbox"] {
    margin-right: 5px;
}

.Registration button {
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: #00dfff;
    color: rgb(0, 0, 0);
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    box-sizing: border-box;
    
    transition: background-color 0.3s ease;
}

.Registration button:hover {
    background-color: #00ff4c;
}

.Registration button:active {
    background-color: #0099cc;
}

.show-password {
    display: flex;
    align-items: self-start;
    margin-right: 60%;
  
}


.Registration input {
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    border: none;
    margin-bottom: 15px;
    box-sizing: border-box;
}
.back-btn {
    position: absolute;
    top: 20px;
    left: 70px;
    background-color: #66f0ff;
    color: black;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    font-size: 18px;
    
    cursor: pointer;
    
}

.back-btn:hover {
    background-color: #032437;
    color: white;
}

